@model BookDetailViewModel
@{
    ViewData["Title"] = "Detail";
}

<h1>Detail</h1>

<div class="container">

    <div class="row">
        @Html.LabelFor(x => x.BookId, "Kitap No", new { @class = "col-md-3" })
        @Html.DisplayFor(x => x.BookId)
    </div>
    <div class="row">
        @Html.LabelFor(x => x.Name, "Kitap Adı", new { @class = "col-md-3" })
        @Html.DisplayFor(x => x.Name)
    </div>
    <div class="row">
        @Html.LabelFor(x => x.Authors, "Yazarlar", new { @class = "col-md-3" })
        <div>
            @foreach (var author in Model.Authors)
            {
                @Html.ActionLink(author.NameAndSurname, "Detail", "Author", new { id = author.AuthorId });
                <br />
            }
        </div>
    </div>
    @*<div class="row">
            @Html.LabelFor(x => x.PublisherName, "YayınEvi", new { @class = "col-md-3" })
            @Html.DisplayFor(x => x.PublisherName)
        </div>*@

    <div class="row">
        @Html.LabelFor(x => x.PublisherItem, "YayınEvi", new { @class = "col-md-3" })
        @Html.ActionLink(Model.PublisherItem.PublisherName, "Detail", "Publisher", new { id = Model.PublisherItem.PublisherId })
    </div>
</div>

