@model BlogPaginationViewModel
@{
    ViewData["Title"] = "Index";
}
<style>
    .article {
        border: 1px solid #037bff;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }

    .bottom-border {
        border-bottom: 1px dashed #037bff
    }

    .row {
        padding-left: 10px;
    }

    .badge {
        margin-right: 5px;
    }

    .title {
        padding-top: 10px;
        background-color: #cceeff;
    }
</style>
<h1>Blog</h1>
<div class="container">
    @foreach (var blog in Model.Blogs)
    {
        <div class="article container">
            @*Title*@
            <div class="row bottom-border title">
                @Html.ActionLink(blog.Title, "Detail", "Blog", new { id = blog.Id }) <p> - </p> @Html.ActionLink(blog.Author.NameAndSurname, "Detail", "Author", new { id = blog.Author.Id })
            </div>
            <div class="row">
                <p>@blog.Content.Substring(0, 250)...</p>
            </div>
            <div class="row">
                <div class="col-md-2">
                    @foreach (var tag in blog.Tags)
                    {
                        @Html.ActionLink(tag.Name, "Index", "Blog", new { tagId = tag.Id }, new { @class = "badge badge-primary" })
                    }
                </div>
                <div class="col-md-8"><span>@blog.CreateDate.ToShortDateString() tarihinde oluşturuldu.</span></div>
                <div class="col-md-2">
                    <span>like : @blog.LikeCount</span>
                    <span>dislike : @blog.DislikeCount</span>
                </div>
            </div>
        </div>
    }

    <div class="row">
        @for (int i = 1; i <= Model.BlogPageCount; i++)
        {
            @Html.ActionLink(i.ToString(), "Index", "Blog", new { pageId = i, tagId = Model.TagId }, new { @class = "badge badge-light" })
        }
    </div>
</div>